.plays-item {
    border-bottom: 1px solid #292929;
    display: flex;
    margin: 5px 0;
    padding: 6px;
}

.plays-item:first-child {
    margin: 15px 0 5px 0;
}

.plays-item-name {
    flex-basis: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.plays-item-date {
    flex: auto;
    text-align: right;
}
