.track {
    margin: 0 auto;
    max-width: 75%;
}

.track-header {
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.track-panel {
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 -2px 0 #161616 inset;
    display: flex;
    padding: 15px 5px;
}

.track-panel-data, .track-panel-chart {
    box-sizing: border-box;
}

.track-panel-data {
    width: 30%;
}

.track-panel-chart {
    width: 70%;
}

.track-panel-data-item {
    align-items: center;
    display: flex;
    margin: 7px 0;
}

.track-panel-data-item-icon {
    flex: 0 0 24px;
}

.track-panel-data-item-data {
    flex: auto;
    padding: 4px 14px 0 14px;
}

.track-panel-data-item-data-label {
    font-weight: 500;
}

.track-panel-data-item-data-value {
    color: #ababab;
    margin: 4px 0;
    white-space: nowrap;
}

.track-plays-group {
    padding: 20px 0 0 0;
}

.track-plays-group-header {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px;
}

.track-plays-group-items-item {
    background: #202020;
    box-shadow: 0 0 2px #191919;
    box-sizing: border-box;
    margin: 0 8px 8px 0;
    display: inline-block;
    text-align: center;
    width: 8%;
}

.track-plays-group-items-item-month {
    background: #2d2d2d;
    border: 1px solid #353535;
    font-weight: 500;
    padding: 7px;
}

.track-plays-group-items-item-monthday {
    font-size: 16px;
    padding: 7px;
}

.track-plays-group-items-item-time {
    border-top: 1px solid #242424;
    font-size: 11px;
    padding: 7px;
}
