.overview-recent-tracks-empty {
    font-size: 18px;
    font-variant: small-caps;
    text-transform: lowercase;
}

.overview-recent-tracks-group {
    margin: 0 0 15px 0;
}

.overview-recent-tracks-group-title {
    margin: 7px 0;
}

.overview-recent-tracks-group-list {
    margin: 7px 0;
}

.overview-recent-tracks-group-list-item {
    align-items: center;
    display: flex;
    padding: 5px 0;
}

.overview-recent-tracks-group-list-item-data {
    flex: auto;
    margin: 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
