.shared-switch-input-label {
    color: #333333;
    display: block;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 700;
    text-transform: lowercase;
    margin: 2px 0 4px 0;
}

.shared-switch-input-option {
    color: #222222;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 300;
    margin: 4px 0;
    text-transform: lowercase;
}

.shared-switch-input-option__selected, .shared-switch-input-option:hover {
    color: #ff4400;
    font-weight: 500;
}
