.overview-navigation-item {
    display: flex;
    margin: 12px 0;
}

.overview-navigation-item:first-child, .overview-navigation-item:last-child {
    margin: 0;
}

.overview-navigation-item-icon {
    flex-basis: 24px;
}

.overview-navigation-item-data {
    flex: auto;
    padding: 0 14px;
}

.overview-navigation-item-data-label {
    display: inline-block;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: 700;
    outline: none;
    margin: 3px 0;
    text-transform: lowercase;
}

.overview-navigation-item-data-counter {
    font-weight: 500;
}
