.tracks-item {
    align-items: center;
    display: flex;
    margin: 15px 0;
}

.tracks-item-data {
    flex-basis: 60%;
    max-width: 60%;
}

.tracks-item-data-name {
    border-bottom: 1px solid #292929;
    margin: 0 0 2px 0;
    overflow: hidden;
    padding: 0 0 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tracks-item-data-period {
    font-size: 12px;
}

.tracks-item-bar {
    flex: auto;
}
