.shared-date-input-field {
    background: #161616;
    border: 1px solid #3d3d3d;
    box-sizing: border-box;
    color: #e0e0e0;
    display: block;
    margin: 0;
    padding: 7px;
    width: 100%;
}

.shared-date-input-field:focus {
    border-color: #4d4d4d;
}

.shared-date-input-field__error, .shared-date-input-field__error:focus {
    border-color: #ff4444;
}
