.app-navigation {
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
}

.app-navigation-counter {
    background: #dddddd;
    border-radius: 4px;
    color: #333333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 2px 5px;
    vertical-align: middle;
}

.app-navigation-link {
    color: #333333;
    cursor: pointer;
    font-size: 18px;
    font-variant: small-caps;
    outline: none;
    padding: 20px;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
}

.app-navigation-link:hover {
    color: #000000;
}

.app-navigation-link__active {
    border-bottom: 3px solid #ff4400;
    color: #000000;
    cursor: default;
    padding-bottom: 17px;
}

.app-footer {
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    margin: 20px 0;
    padding: 20px 0;
    text-align: center;
}
