.shared-date-chart-header {
    margin: 0 0 7px 6px;
}

.shared-date-chart-header::after {
    display: table;
    content: ' ';
    clear: both;
}

.shared-date-chart-header-breadcrumbs {
    float: left;
}

.shared-date-chart-header-breadcrumbs-item {
    display: inline-block;
    font-size: 13px;
    font-variant: small-caps;
    font-weight: 500;
    margin: 0 5px 0 0;
    text-transform: uppercase;
    vertical-align: top;
}

.shared-date-chart-header-breadcrumbs-item__link {
    border-bottom: 1px dotted #87ceeb;
    color: #87ceeb;
    cursor: pointer;
}

.shared-date-chart-header-reset {
    color: #ff4444;
    cursor: pointer;
    float: right;
}
