.navigation {
    align-items: center;
    background: #1d1d1d;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 -1px 0 #101010 inset;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 0 20px 0;
}

.navigation-counter {
    background: #dbdbdb;
    color: #000000;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 0 5px;
    padding: 2px 5px;
    vertical-align: middle;
}

.navigation-link {
    color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    font-variant: small-caps;
    outline: none;
    padding: 20px;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
}

.navigation-link:hover {
    color: #a0a0a0;
    text-decoration: none;
}

.navigation-link__active {
    border-bottom: 3px solid #ff4444;
    cursor: default;
    padding-bottom: 16px;
}
